:root {
    --primary-color: #3f818a;
    --light-primary: #004346;
    --ligthest-color: #44b5e5;
    --secondary-color: #172a3a;
    --light-secondary: #052743;
}

#modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.overlay {
    visibility: hidden;
    transition: all 0.3s ease;
    opacity: 0;
}

.open {
    visibility: visible;
    opacity: 1;
}

#modal-background {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}

#modal-container {
    z-index: 1;
    background-color: var(--light-secondary);
    padding: 1rem 3rem;
    border-radius: 12px;
}

#movie-title {
    padding: 0.4rem 0;
}

#modal-body {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

#movie-poster {
    border-radius: 12px;
    margin-bottom: 5px;
}

#movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2rem;
    width: 50%;
    max-width: 300px;
}

#add-to-list {
    border: 2px solid var(--ligthest-color);
    padding: 0.3rem 0;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 1px 1px 10px #000;
}

#add-to-list:focus, 
#add-to-list:hover {
    background-color: var(--light-primary);
    color: var(--ligthest-color);
}